In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('../Dataset/BID.csv')
df.head(10)

         date  close   volume   open   high    low
0  2025-04-29  34.55  2440200  34.60  34.75  34.35
1  2025-04-28  34.55  3320200  35.30  35.30  34.40
2  2025-04-25  35.00  2684500  35.30  35.40  35.00
3  2025-04-24  35.45  2028700  35.35  35.45  34.90
4  2025-04-23  35.35  1849600  35.75  35.75  35.00
5  2025-04-22  35.10  3599300  35.15  35.20  32.80
6  2025-04-21  35.25  2105600  35.95  36.00  35.10
7  2025-04-18  35.95  3477600  36.20  36.25  35.85
8  2025-04-17  35.85  3126800  35.20  35.85  34.95
9  2025-04-16  36.00  2914600  36.10  36.40  35.70

In [4]:
df['tradingdate'] = pd.to_datetime(df['date'], format='%Y-%m-%d')
new_dataset = df[['tradingdate','volume']]
new_dataset.index = new_dataset['tradingdate']

In [11]:
new_dataset.head(5)

            tradingdate   volume
tradingdate
2025-04-29   2025-04-29  2440200
2025-04-28   2025-04-28  3320200
2025-04-25   2025-04-25  2684500
2025-04-24   2025-04-24  2028700
2025-04-23   2025-04-23  1849600

In [5]:
df[df["volume"] >= 20000].head()

         date  close   volume   open   high    low tradingdate
0  2025-04-29  34.55  2440200  34.60  34.75  34.35  2025-04-29
1  2025-04-28  34.55  3320200  35.30  35.30  34.40  2025-04-28
2  2025-04-25  35.00  2684500  35.30  35.40  35.00  2025-04-25
3  2025-04-24  35.45  2028700  35.35  35.45  34.90  2025-04-24
4  2025-04-23  35.35  1849600  35.75  35.75  35.00  2025-04-23